    .main-header{
        height: 80px;
        z-index: 100;
    }
    .logo-img{
        /* width: 50px; */
        height: 70px;
    }
    .header-nav .nav-item .nav-link{ 
        color:#fff;
        font-size: 25px;
        font-weight: 550;
        font-family: monospace;
    }
    #main-leyout{
        height: 720px;
        width: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        /* background-size: cover; */
    }
    